[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/python]
row=4
col=0

[/home/kali/Desktop/ejercicios]
row=3
col=0

[/home/kali/Desktop/pseint.desktop]
row=0
col=11

[/home/kali/Desktop/programas]
row=2
col=0

[ACB49447B49415C4]
row=0
col=3

[98B0A8ADB0A892F4]
row=0
col=5

[907d3950-9c0a-4930-a347-4a4c43dd40c7]
row=0
col=2

[Trash]
row=0
col=0

[/]
row=0
col=4

[/home/kali]
row=1
col=0

