[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/python]
row=4
col=0

[/home/kali/Desktop/ejercicios]
row=3
col=0

[/home/kali/Desktop/pseint.desktop]
row=0
col=0

[/home/kali/Desktop/programas]
row=2
col=0

[Trash]
row=0
col=1

[/]
row=0
col=4

[/home/kali]
row=1
col=0

