[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/python]
row=3
col=14

[/home/kali/Desktop/ej8ifvjwdqka1.jpg]
row=6
col=0

[/home/kali/Desktop/ejercicios]
row=2
col=14

[/home/kali/Desktop/pseint.desktop]
row=0
col=0

[/home/kali/Desktop/programas]
row=1
col=14

[/home/kali/Desktop/index.html]
row=5
col=14

[Trash]
row=6
col=14

[/]
row=4
col=14

[/home/kali]
row=0
col=14

