[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/python]
row=4
col=0

[/home/kali/Desktop/ejercicios]
row=3
col=0

[/home/kali/Desktop/pseint.desktop]
row=0
col=11

[/home/kali/Desktop/programas]
row=2
col=0

[B6A2AB1DA2AAE15B]
row=0
col=3

[96BE1000BE0FD81F]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=0
col=2

[/home/kali]
row=1
col=0

